{% extends "base.html" %}
{% block content %}
<br>
<div class="jumbotron">
  <div align='center'>
    <h1>Welcome to the page for {{current_user.username}}</h1>
    <img align='center' src="{{ url_for('static', filename='profile_pics/' + current_user.profile_image) }}">
    <p>{{ current_user.email }}</p>
  </div>
</div>

<div class="container">
  <form  method="POST" action = "" enctype="multipart/form-data">
    {{form.hidden_tag()}}
    <div class="form-group">
    <h5>{{form.username.label(class="form-group")}}</h5>
    {{form.username(class='form-control')}}
    </div>
    <div class="form-group">
    <h5>{{form.email.label(class="form-group")}}</h5>
    {{form.email(class='form-control')}}
    </div>
    <div class="form-group">
    <h5>{{form.picture.label(class="form-group")}}</h5>
    <h5>{{form.picture(class="form-control-file")}}</h5>
    </div>
    <div class="form-group">
    {{form.submit(class="btn btn-primary")}}
    </div>
  </form>
</div>

{% endblock content %}