{% extends "base.html" %}
{% block content %}
<div class="container">
  <form class="form-group" method="POST">
    {{ form.hidden_tag() }}

    <div class="form-group">
    <h5>{{form.title.label(class="form-control-label")}}</h5>
    {{form.title(class="form-control form-control-lg ")}}
    </div>
    <div class="form-group">
    <h5>{{form.text.label(class="form-control-label")}}</h5>
    {{form.text(class="form-control form-control-lg")}}
    </div>
    <div class="form-group">
    {{ form.submit(class="btn btn-outline-info")}}
    </div>
  </form>
</div>

{% endblock content %}